.navbar-custom {
  background: rgb(249, 247, 247);
}
.app-search {
  width: 800px;
}
.input-group {
  width: 600px;
  border: 1px solid rgb(147, 140, 140) !important;
  border-radius: 20px;
}
.search-content {
  width: 700px !important;
}
.search-content .form-control {
  height: 40px !important;
  color: black !important;
}
::-webkit-input-placeholder {
  color: black !important;
}
::placeholder {
  color: black !important;
  opacity: 1; /* Firefox */
}
#profilpic {
  background: #e1e9f3;
  width: 200px;
  height: 55px;
  margin-top: 5px;
  border-radius: 25px;
}
.nav-user img {
  height: 40px;
  width: 40px;
  margin-left: 0;
  margin-top: -15px;
}
.pro-user-name {
  color: black !important;
}
